.App {
  text-align: center;
  background-color: #adbfe2;
}

.post {
  width: flex;
  height: flex; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-color: black;
}

.post .title{
  font-weight: bolder;
}

